*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: brown;
    color: white;
    padding: 10px 30px;
    font-size: 40px; ;
}
.numCon{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
   
    max-width: 60rem;
    margin: auto;
    padding: 40px;


}
.circle{
    width: 50px;
    height: 50px;
    background-color: orange;
    border-radius: 100%;
    color: white;
    display: flex;
    display: grid;
    place-content: center;
    font-size: 23px;
}