html, body {
    margin: 0;
    width: 100%;
    height: 100%;
    background: #020617;
    overflow: hidden;
    cursor: none;
}


.trail {
    position: fixed;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    pointer-events: none;

    background: radial-gradient(
        circle at 30% 30%,
        rgba(255,255,255,0.9),
        rgba(120,200,255,0.8),
        rgba(40,120,200,0.6)
    );

    box-shadow: 0 0 15px rgba(120,200,255,0.8);
}

.bubble {
    position: fixed;
    border-radius: 50%;
    pointer-events: none;
    transform: translate(-50%, -50%);
    animation: bubble 1.4s ease-out forwards;

    border: 2px solid rgba(180,230,255,0.9);
    box-shadow:
        0 0 20px rgba(150,220,255,0.8),
        inset 0 0 10px rgba(255,255,255,0.7);
}


.bubble::after {
    content: "";
    position: absolute;
    inset: 8px;
    border-radius: 50%;
    border-top: 2px solid rgba(255,255,255,0.9);
}

@keyframes bubble {
    from {
        width: 0;
        height: 0;
        opacity: 1;
    }
    to {
        width: 220px;
        height: 220px;
        opacity: 0;
    }
}
